<h1 class="text-center mt-5 mb-5 text-light">Categories</h1>

<div class="row row-cols-1 row-cols-md-4 g-4 border-top">
  @for (category of categories; track category.id){
    <div class="col">
      <div class="card">
        <img [src]="category.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ category.title }}</h5>
        </div>
        <div class="card-footer d-flex justify-content-between">

        </div>
      </div>
    </div>

  }
</div>


